<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-title><h3><a (click)="prevPage()"><mat-icon>keyboard_arrow_left</mat-icon></a>
      <img src="../../assets/icon/eland.png" width="30" height="30"> {{title}}</h3></ion-title>
  </ion-toolbar>
  <ion-img src="assets/images/e-card.jpg"></ion-img>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-div">
    <button mat-raised-button class="btn"  color="primary" (click)="addTravel()">
      <mat-icon>add</mat-icon>{{addBtn}}
    </button>
  </div>

  <ion-card>
    <ion-list>
      <ion-grid>
        <ion-row style="background:#FFFFED">
          <ion-col><h5>ID.</h5></ion-col>
          <ion-col><h5>Nickname</h5></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngFor="let travel of travels">
        <ion-row>
          <ion-col col><h5>{{travel.id}}</h5></ion-col>
          <ion-col ><h5>{{travel.nickname}}</h5> </ion-col>
          <ion-col>
            <button mat-icon-button color="accent" (click)="onEdit(travel)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn" (click)="remove(travel.id)"><mat-icon>delete_outline</mat-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>
</ion-content>
