<ion-header>
    <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-title>
      <h3><a (click)="prevPage()"><mat-icon>keyboard_arrow_left</mat-icon></a>
          <img src="../../../assets/icon/instruction.png" width="30" height="30"> {{title}}</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>-->
<!--  <img src="../../../assets/images/scicom.png">-->
<!--  <div class="d-flex flex-row-reverse bd-highlight">-->
<!--    <div class="p-2 bd-highlight"><button mat-raised-button color="accent" (click)="nextPage()">{{skip}} <mat-icon>fast_forward</mat-icon></button></div>-->
<!--  </div>-->
<!--  <h2>{{description}} </h2>-->
<ion-content class="ion-padding">
    <div *ngIf="steps">
    <ion-slides pager (ionSlideDidChange)="slideChanged()">

        <ion-slide>
            <div class="diag">
                <ion-icon ios="ios-contact" md="md-contact" color="primary"></ion-icon>
            </div>
            <div>
                <h2>{{steps.step1.title}}</h2>
                <h4>{{steps.step1.description}}</h4>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag">
                <ion-icon ios="ios-list-box" md="md-list-box" color="primary"></ion-icon>
            </div>
            <div>
                <h2>{{steps.step2.title}}</h2>
                <h4>{{steps.step2.description}}</h4>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag">
                <ion-icon ios="ios-eye" md="md-eye" color="primary"></ion-icon>
            </div>
            <div>
                <h2>{{steps.step3.title}}</h2>
                <h4>{{steps.step3.description}}</h4>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="diag">
                <ion-icon ios="ios-finger-print" md="md-finger-print" color="primary"></ion-icon>
            </div>
            <div>
                <h2>{{steps.step4.title}}</h2>
                <h4>{{steps.step4.description}}</h4>
            </div>
        </ion-slide>
    </ion-slides>
    </div>
        <b><a style="color: #183B8C" (click)="skipPage()" id="skip">{{ skipMsg }}</a></b>
</ion-content>
