<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-title><h3><a (click)="prevPage()"><mat-icon>keyboard_arrow_left</mat-icon></a>
      <img src="../../assets/icon/traveler.png" width="30" height="30"> {{title}}</h3></ion-title>
  </ion-toolbar>
  <ion-img src="assets/images/travel-profile.jpg"></ion-img>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-div">
    <button mat-raised-button class="btn"  color="primary" (click)="addProfile()">
      <mat-icon>add</mat-icon>{{addBtn}}
    </button>
  </div>

  <ion-card>
  <ion-list>
    <ion-grid>
      <ion-row style="background:#FFFFED">
        <ion-col><h5>ID.</h5></ion-col>
        <ion-col><h5>Nickname</h5></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngFor="let profile of profiles">
      <ion-row>
        <ion-col col><h5>{{profile.id}}</h5></ion-col>
        <ion-col ><h5>{{profile.nickname}}</h5> </ion-col>
        <ion-col>
          <button mat-icon-button color="accent" (click)="onEdit(profile)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="remove(profile.id)"><mat-icon>delete_outline</mat-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  </ion-card>
</ion-content>
