<ion-header>
    <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <img src="/assets/images/flight.jpg" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title><h3>Welcome to Malaysia's <b>E-Landing</b> Card Application.</h3></ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card-header>
        <h4>Please choose your preferred Language to proceed</h4>
    </ion-card-header>
    <ion-card-content>
        <mat-card>
        <div class="row">
            <button mat-stroked-button color="accent" class="btn btn-block" (click)="nextPageEn()">
            <img src="../../../assets/icon/en.png" width="50" height="50"><br/>English</button>
        </div>
        <div class="row">
           <button mat-stroked-button color="accent" class="btn btn-block" (click)="nextPageChinese()">
            <img src="../../../assets/icon/chinese.png" width="50" height="50" ><br/>Chinese</button>
        </div>
        <div class="row">
            <button mat-stroked-button color="accent" class="btn btn-block" (click)="nextPageMalay()">
            <img src="../../../assets/icon/malay.ico" width="50" height="50" ><br/>Malay</button>
        </div>
        </mat-card>
    </ion-card-content>


</ion-content>

